footer {
    background-color: black;
    position: absolute;
    bottom: auto;
    text-align: center;
    width: 1600px;
    height: 30px;
    color: dimgrey
}

.Centrar {
    
    display: flex;
    justify-content: center;
}

.h2 {
    bottom: auto;
    text-align: center;
}

.accordion-item {

bottom: auto;
text-align: center;

}